{% extends 'base.html.twig' %}

{% block title %}
    Quickdoc - Modifier une page
{% endblock %}

{% block body %}
    <div class="p-4 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-6 fw-bold">Modifier une page</h1>
        </div>
    </div>

    {{ form(form) }}
{% endblock %}
